{
 ;---------------------------------------------------------------------------------------------------
 ; ***** NOTE *****
 ; Inside UHC/MCNA, IntelliJ IDEA/Cursive will not import a new project
 ; without a 401 error unless a minimal `project.clj` file is present.
 ; Example error (popup window):
 ;
 ;     status code: 401, reason phrase: Unauthorized (401)
 ;
 ; The project MUST be imported (File -> New -> Project form existing sources) as a Leiningen project
 ; using the `project.clj` file, NOT as a deps/CLI project using the `deps.edn` file. Also, IntelliJ
 ; will use `project.clj` (not `deps.edn`) as the source of all library info to resolve namespaces, functions, etc.
 ;
 ; This is assumed to be due to an error accessing Maven Central by the deps/CLI system.
 ;---------------------------------------------------------------------------------------------------

 ; :mvn/repos {"uhc-artifactory"
 ;             {:url "https://repo1.uhc.com/artifactory/maven-repo"}}

 :paths   ["src" "test" "resources"]

 :deps    {
           org.clojure/clojure {:mvn/version "1.12.1"}
           prismatic/schema    {:mvn/version "1.4.1"}
           tupelo/tupelo       {:mvn/version "24.12.25"}
           }
 :aliases {
           :run          {:exec-fn demo.core/-main}

           :test         {:extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                          :extra-paths ["test-resources"] ; testing data files
                          ; :main-opts   ["-m" "cognitect.test-runner"] ; not used here
                          :exec-fn     cognitect.test-runner.api/test
                          :exec-args   {;  :dirs     [; mandatory if not using defaults
                                        ;             "src" ; default value
                                        ;             "test" ; default value
                                        ;             ]
                                        :patterns ["^tst.*"] ; mandatory to detect non-default namespaces like `tst.demo.core`
                                        }
                          }

           :test-refresh {:extra-deps  {com.jakemccrary/test-refresh {:mvn/version "0.26.0"}}
                          :extra-paths ["test-resources"] ; testing data files

                          :main-opts   ["-m" "com.jakemccrary.test-refresh"
                                        ; "--dir" "test" ; default value
                                        ]
                          }

           ; This target finds dependencies with outdated version numbers
           :old          {:deps      {com.github.liquidz/antq {:mvn/version "RELEASE"}} ; NOT `:extra-deps` !!!
                          :main-opts ["-m" "antq.core"]
                          }

           }
 }


